{
    "from_number": "1XXXXXXXX",
    "patient_number": "1XXXXXXXXX",
    "twilio_flex_auth_token": "XXXXXXXXXXX",
    "twilio_flex_account_sid": "ACXXXXXXXXXX",
    "twilio_create_task_studio_url": "https://studio.twilio.com/v2/Flows/FWXXXXXXXXXXXX/Executions",
    "twilio_update_meds_taken_function": "https://XXXXXXXXXX.twil.io/update_med_taken_count"
}